@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    font-family: 'Space Grotesk', sans-serif;
    background: url('https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

li {
    list-style: none;
}

.author-title {
    font-size: 20px;
    opacity: 75%;

}

.actions-show-hide .show-hide-component {
    visibility: hidden;
}

.actions-show-hide:hover .show-hide-component {
    visibility: visible;
}